<section class="skills">
  <h2>Compétences</h2>
  <div class="skills-container">
    @for (skill of skills(); track skill.title) {
      <div
        class="bg-cyan-950 rounded shadow-lg overflow-hidden hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1 border-t-8 border-cyan-800 p-6"
      >
        <div class="skill-content pr-12">
          <h4
            class="skill-subtitle text-emerald-300 text-sm font-medium mb-2 uppercase tracking-wide"
          >
            {{ skill.subtitle }}
          </h4>
          <h3 class="skill-title text-xl font-semibold mb-4">
            {{ skill.title }}
          </h3>
          <ul class="flex flex-wrap gap-2 mb-4">
            @for (item of skill.items; track item) {
              <li
                class="px-3 py-1 bg-emerald-300 text-cyan-900 text-sm font-medium rounded mb-2 mr-2"
              >
                {{ item }}
              </li>
            }
          </ul>
        </div>
        <div class="skill-icon">
          <img [src]="skill.icon" [alt]="skill.title" />
        </div>
      </div>
    }

    <!-- Card des langues -->
    <div
      class="language-card bg-cyan-950 rounded shadow-lg overflow-hidden hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1 border-t-8 border-cyan-800 p-6"
    >
      <div class="language-content pr-12">
        <h3 class="language-title text-xl font-semibold mb-4">Langues</h3>
        <ul class="language-items">
          @for (
            language of languages();
            track language.name;
            let isLast = $last
          ) {
            <li
              [ngClass]="{
                'flex justify-between items-center py-2 border-b border-gray-50': true,
                'mb-2': !isLast,
                'mb-0 border-b-0': isLast,
              }"
            >
              <span class="text-emerald-300 capitalize font-medium">{{
                language.name
              }}</span>
              <span class="language-level text-white text-sm italic">{{
                language.level
              }}</span>
            </li>
          }
        </ul>
      </div>
      <div class="language-icon">
        <svg viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
