<nav class="menu-container bg-cyan-900">
  <!-- Photo de profil -->
  @if (profile(); as profile) {
    <div class="profile-section">
      <div class="profile-image">
        <img
          src="images/photo-Guillaume.jpeg"
          alt="{{ profile.firstname }} {{ profile.lastname }}"
        />
      </div>

      <h2 class="profile-name">
        {{ profile.firstname }}<br />{{ profile.lastname }}
      </h2>
    </div>
  }

  <!-- Menu de navigation -->
  <ul class="navigation-menu">
    <li>
      <a
        href="#home"
        (click)="scrollToSection('hero')"
        [class.active]="activeSection() === 'home'"
      >
        À propos
      </a>
    </li>
    <li>
      <a
        href="#portfolio"
        (click)="scrollToSection('portfolio')"
        [class.active]="activeSection() === 'portfolio'"
      >
        Portfolio
      </a>
    </li>
    <li>
      <a
        href="#cv"
        (click)="scrollToSection('cv')"
        [class.active]="activeSection() === 'cv'"
      >
        CV
      </a>
    </li>
    <li>
      <a
        href="#contact"
        (click)="scrollToSection('contact')"
        [class.active]="activeSection() === 'contact'"
      >
        Contact
      </a>
    </li>
  </ul>

  <!-- Icônes de réseaux sociaux -->
  <div class="social-icons">
    @for (social of socialLinks(); track social.name) {
      <a
        href="{{ social.url }}"
        target="_blank"
        rel="noopener noreferrer"
        [attr.aria-label]="social.name"
        class="text-gray-600 bg-gray-50 hover:bg-emerald-300"
      >
        <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
          <path [attr.d]="social.icon" />
        </svg>
      </a>
    }
  </div>
</nav>
