<nav class="menu-container bg-cyan-900">
  <!-- Photo de profil -->
  <div class="profile-section">
    <div class="profile-image">
      <img src="assets/images/portrait.jpg" alt="Guillaume Amselle Andreux" />
    </div>
    @if (profile(); as profile) {
      <h2 class="profile-name">
        {{ profile.firstname }}<br />{{ profile.lastname }}
      </h2>
    }
  </div>

  <!-- Menu de navigation -->
  <ul class="navigation-menu">
    <li>
      <a href="#home" (click)="scrollToSection('hero')">À propos</a>
    </li>
    <li>
      <a href="#portfolio" (click)="scrollToSection('portfolio')">Portfolio</a>
    </li>
    <li>
      <a href="#cv" (click)="scrollToSection('cv')">CV</a>
    </li>
    <li>
      <a href="#contact" (click)="scrollToSection('contact')">Contact</a>
    </li>
  </ul>

  <!-- Icônes de réseaux sociaux -->
  <div class="social-icons">
    @for (social of socialLinks(); track social.name) {
      <a
        href="{{ social.url }}"
        target="_blank"
        rel="noopener noreferrer"
        [attr.aria-label]="social.name"
        class="hover:bg-emerald-300"
      >
        <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
          <path [attr.d]="social.icon" />
        </svg>
      </a>
    }
  </div>
</nav>
